
.logo{
    width: 20vh;
}

.carrito{
    width: 4vh;
}


.section-p1 {
    padding: 40px 80px;
	background: var(--color-bg);
}

.section-m1 {
    margin: 40px 0;
}

/* Detalle del producto */

#product1 {
    text-align: center;
    
}

#product1 .pro-container {
	display: flex;
	justify-content: center;
    /* border: 1px solid var(--color-secundario); */
    padding: 10px 10px;
    margin: 25px 0;
	/* flex-wrap: wrap; */
}


#product1 .pro {
    display: flex;

    width: 50%;
	max-width: 75%;

	padding: 10px 15px;
	border: 1px solid var(--color-secundario);
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro .img-prod {
    /* background: #088144; */
    padding: 10px;
}

.img-prod img{
    border-radius: 25px;
}

/* Texto del producto */
#product1 .pro .des {

    text-align: end ;
	padding: 15px 12px ;
    line-height: 30px;
}
#product1 .pro .des span {
    color: var(--color-et-titulo);
	font-size: 20px;
	font-weight: 600;
}
#product1 .pro .des h5 {
	padding-top: 7px;
	color: var(--color-secundario);
	font-size: 16px;
	font-weight: 400;
}
#product1 .pro .des H4 {
    padding-top: 7px ;
	font-size: 25px;
	font-weight: 900;
	color: var(--color-et-primario);
}

#product1 .pro .cart {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 30px;
	right: 20px;
	border-radius: 100%;
	background-color: #CCE7D0;
	border: 1px solid #D1CFCF;
}
#product1 .pro .cart .carr{
	width: 30px;
    position: relative;
    top: 50%; 
    margin-top: 12px;
    left: 50%;
    margin-left: -17px;
}